@page
@model TeamSacramentMeetingPlanner.Pages.Meetings.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create agenda</h1>

<h4>Meeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Meeting.MeetingDate" class="control-label"></label>
                <input asp-for="Meeting.MeetingDate" class="form-control" />
                <span asp-validation-for="Meeting.MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.Conductor" class="control-label"></label>
                <input asp-for="Meeting.Conductor" class="form-control" />
                <span asp-validation-for="Meeting.Conductor" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => Model.Meeting.OpeningHymnNumber, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-5">
                    @Html.DropDownListFor(x => Model.Meeting.OpeningHymnNumber, new SelectList(Model.Hymns, "Value", "Text"), htmlAttributes: new { @class = "form-control"})
                    @Html.ValidationMessageFor(x => x.Meeting.OpeningHymnNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.OpeningPrayer" class="control-label"></label>
                <input asp-for="Meeting.OpeningPrayer" class="form-control" />
                <span asp-validation-for="Meeting.OpeningPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => Model.Meeting.SacramentHymnNumber, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-5">
                    @Html.DropDownListFor(x => Model.Meeting.SacramentHymnNumber, new SelectList(Model.Hymns, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Meeting.SacramentHymnNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.SpeakerOne" class="control-label"></label>
                <input asp-for="Meeting.SpeakerOne" class="form-control" />
                <span asp-validation-for="Meeting.SpeakerOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.TopicSpeakerOne" class="control-label"></label>
                <input asp-for="Meeting.TopicSpeakerOne" class="form-control" />
                <span asp-validation-for="Meeting.TopicSpeakerOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.SpeakerTwo" class="control-label"></label>
                <input asp-for="Meeting.SpeakerTwo" class="form-control" />
                <span asp-validation-for="Meeting.SpeakerTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.TopicSpeakerTwo" class="control-label"></label>
                <input asp-for="Meeting.TopicSpeakerTwo" class="form-control" />
                <span asp-validation-for="Meeting.TopicSpeakerTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => Model.Meeting.RestHymnNumber, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-5">
                    @Html.DropDownListFor(x => Model.Meeting.RestHymnNumber, new SelectList(Model.Hymns, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Meeting.RestHymnNumber, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.SpeakerThree" class="control-label"></label>
                <input asp-for="Meeting.SpeakerThree" class="form-control" />
                <span asp-validation-for="Meeting.SpeakerThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.TopicSpeakerThree" class="control-label"></label>
                <input asp-for="Meeting.TopicSpeakerThree" class="form-control" />
                <span asp-validation-for="Meeting.TopicSpeakerThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(x => Model.Meeting.ClosingHymn, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-5">
                    @Html.DropDownListFor(x => Model.Meeting.ClosingHymn, new SelectList(Model.Hymns, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Meeting.ClosingHymn, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Meeting.ClosingPrayer" class="control-label"></label>
                <input asp-for="Meeting.ClosingPrayer" class="form-control" />
                <span asp-validation-for="Meeting.ClosingPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
